section.section.grid
	h2 о нас
	article.wow.bounceInLeft
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illo enim similique, dignissimos facere, laboriosam modi autem assumenda, nobis atque eaque eligendi ducimus animi reiciendis quibusdam culpa praesentium minus sapiente architecto nihil hic esse laudantium nam veritatis. Minus, deserunt, odit.
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores sit eligendi aliquam delectus ex molestiae quia corporis perferendis mollitia veniam dignissimos quibusdam explicabo nesciunt culpa, praesentium incidunt repudiandae neque dolorum voluptates excepturi ipsam aperiam libero beatae, aspernatur! Tempore, illum, sit.
	.hrwert
		hr
	.photo.wow.bounceInRight
		img(src="img/youtubeLogoSmall.jpeg", alt="")
	.hrgor
		hr
	a(href="#top")
		.circle.grid
			.circleimg
