.contact.grid#contact
	h2 контакты
	.contactbox.grid
		.address.grid
			span Email: 
			span.class1 info@all4site.com.ua
			span Телефон: 
			span.class1 093-606-34-15
			span Facebook: 
			.fa.fa-facebook
			span Google+: 
			.fa.fa-google-plus
			span Linked: 
			.fa.fa-linkedin
		.hrfeedback
		.feedback.grid
			input(type="name" value="name")
			input(type="email" value="email")
			textarea(name="text" placeholder="text...")
			input(type="button" value="отправить")
	footer.grid
		span 2017 all4site.com.ua
		span 093-606-34-15
		span info@all4site.com.ua
		.cosial
			.fa.fa-facebook
			.fa.fa-google-plus
			.fa.fa-linkedin
