section.section.grid
	h2 о нас
	article.wow.bounceInLeft
		p.
			Как клиенты могут узнать о Вас и о Вашем бизнесе? И что Вы можете сделать, чтобы конкурировать на рынке онлайн?
		p.
			С помощью ориентированного на пользователя дизайна и тщательно продуманного кода All4Site помогает малому и среднему бизнесу привлечь больше клиентов в Интернете. Начиная с подробной разработки дизайна  и заканчивая програмированием сайта, наша компания доведет Ваш проект до завершения. 
			Мы любим кодировать и создавать красивые веб-сайты, которые  высоко индексируется поисковыми системами в Интернете. Используя современные инструменты сайтостроительства, мы строим быстрые интерактивные сайты.  
		p.
			Для владельца важно, чтобы его сайт был легко доступным для клиентов. Наши адаптивные сайты наилучшим образом подстраиваются к любому разрешению экрана. 
		p.
			Если Вы хотите качественный и современный сайт, Вам к нам. 
	.hrwert
		hr
	.photo.wow.bounceInRight
		img(src="img/youtubeLogoSmall.jpeg", alt="")
	.hrgor
		hr
	a(href="#top")
		.circle.grid
			.circleimg
