.costs.grid
	h2 цены
	.costsall.grid.wow.fadeIn(data-wow-delay='0.5s')
		h2 сайт 
			br
			| визитка
		hr.hr1
		span 2000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li asdasd
			li asdasdas
			li asdasdasd
		input.wow.pulse(data-wow-delay='3s' data-wow-iteration="2")(type="button", value="заказать")
	.costsall.grid.wow.fadeIn(data-wow-delay='1s')
		h2 landing 
			br
			| page
		hr.hr1
		span 2000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li asdasd
			li asdasdas
			li asdasdasd
			li asdasdasd
			li asdasdasd
		input.wow.pulse(data-wow-delay='3s' data-wow-iteration="2")(type="button", value="заказать")
	.costsall.grid.wow.fadeIn(data-wow-delay='1.5s')
		h2 корпоративный 
			br
			| сайт
		hr.hr1
		span 2000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li asdasd
			li asdasdas
			li asdasdasd
			li asdasdasd
		input.wow.pulse(data-wow-delay='3s' data-wow-iteration="2")(type="button", value="заказать")
	.costsall.grid.wow.fadeIn(data-wow-delay='2s')
		h2 интернет 
			br
			|магазин
		hr.hr1
		span 2000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li asdasd
			li asdasdas
			li asdasdasd
			li asdasdasd
			li asdasdasd
			li asdasdasd
		input.wow.pulse(data-wow-delay='3s' data-wow-iteration="2")(type="button", value="заказать")