.costs.grid#costs
	h2 цены
	.costsall.grid.wow.fadeIn(data-wow-delay='0.5s')
		h2 сайт 
			br
			| визитка
		hr.hr1
		span от 3000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li Не большой одностраничный сайт
			li Слайд шоу
			li Карта проезда
			li.action Бесплатный хостниг на год
		a.order(href="#order1") заказать
			
	.costsall.grid.wow.fadeIn(data-wow-delay='1s')
		h2 landing 
			br
			| page
		hr.hr1
		span от 4000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li Одностраничный сайт на несколько прокруток
			li Фотогаллерея
			li Слайд шоу
			li Карта проезда
			li.action Бесплатный хостинг на год
		a.order(href="#order2") заказать
	.costsall.grid.wow.fadeIn(data-wow-delay='1.5s')
		h2 корпоративный 
			br
			| сайт
		hr.hr1
		span от 10000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li CMS система управления
			li Фото галлерея
			li Возможность добавлять любое количество статей
			li Статистика посещеня
			li Авторизированный вход
			li.action Бесплатный хостинг на год
		a.order(href="#order3") заказать
	.costsall.grid.wow.fadeIn(data-wow-delay='2s')
		h2 интернет 
			br
			|магазин
		hr.hr1
		span от 12000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li Неограниченное количество товаров
			li Подключение систем оплаты
			li Авторизация пользователей
			li Удобная административная панель
			li Статистика работы магазина
			li.action Бесплатный хостинг на год
		a.order(href="#order4") заказать