.costs.grid
	h2 цены
	.costsall.grid
		h2 сайт 
			br
			| визитка
		hr.hr1
		span 2000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li asdasd
			li asdasdas
			li asdasdasd
		input(type="button", value="заказать")
	.costsall.grid
		h2 landing 
			br
			| page
		hr.hr1
		span 2000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li asdasd
			li asdasdas
			li asdasdasd
			li asdasdasd
			li asdasdasd
		input(type="button", value="заказать")
	.costsall.grid
		h2 корпоративный 
			br
			| сайт
		hr.hr1
		span 2000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li asdasd
			li asdasdas
			li asdasdasd
			li asdasdasd
		input(type="button", value="заказать")
	.costsall.grid
		h2 интернет 
			br
			|магазин
		hr.hr1
		span 2000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li asdasd
			li asdasdas
			li asdasdasd
			li asdasdasd
			li asdasdasd
			li asdasdasd
		input(type="button", value="заказать")