section.dosite.grid
	h2 сделать сайт это просто
	.boxcontainer.grid
		.bable.wow.fadeIn
			ol
				li Встреча с клиентом
				li Черновой набросок макета
				li Подбор цветов
		.box.wow.bounceInLeft
			h2 1
			span.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, rem.
		.arrow
		.bable.wow.fadeIn
			ol
				li Создание макета
				li Утверждение макета
		.box.wow.bounceInUp
			h2 2
		.arrow
		.bable.wow.fadeIn
			ol
				li Программирование сайта
		.box.wow.bounceInDown
			h2 3
		.arrow
		.bable.wow.fadeIn
			ol
				li Проверка сайта
				li Внесение правок
				li Сдача проэкта
		.box.wow.bounceInRight
			h2 4