section.dosite.grid
	h2 сделать сайт это просто
	.boxcontainer.grid
		.box.wow.bounceInLeft
			h2 1
			span захотеть сайт
		.box.wow.bounceInUp
			h2 2
			span обратиться к нам
		.box.wow.bounceInDown
			h2 3
			span получить сайт
