header.header.grid#top
	.link
		a.active(href="#top") главная
	.link
		a(href="#contact") контакты
	.link
		a(href="") статьи
	h1.wow.pulse(data-wow-iteration="2") we are creator
		h3.wow.bounce(data-wow-iteration="2") all4site