form#order1.grid.mfp-hide
	input(type='hidden', name='project_name', value='All4site.com.ua')
	input(type='hidden', name='admin_email', value='admin@mail.com')
	input(type='hidden', name='form_subject', value='Form Subject')

	h3 сайт визитка
	p.
		Напишите нам какой сайт вы хотите заказать и мы свяжемся с вами в ближайшее время.
	.feedback.grid
		input(type="text" name="name" placeholder="name" id="name")
		input(type="text" name="email" placeholder="email" )
		textarea(name="text" placeholder="ваши коментарии...")
		input(type="submit" value="отправить" id="send")
form#order2.grid.mfp-hide
	h3 landing page
	p.
		Напишите нам какой сайт вы хотите заказать и мы свяжемся с вами в ближайшее время.
	.feedback.grid
		input(type="name" placeholder="name" id="name")
		input(type="email" placeholder="email")
		textarea(name="text" placeholder="ваши коментарии...")
		input(type="button" value="отправить" id="send")
form#order3.grid.mfp-hide
	h3 корпоративный сайт
	p.
		Напишите нам какой сайт вы хотите заказать и мы свяжемся с вами в ближайшее время.
	.feedback.grid
		input(type="name" placeholder="name" id="name")
		input(type="email" placeholder="email")
		textarea(name="text" placeholder="ваши коментарии...")
		input(type="button" value="отправить" id="send")
form#order4.grid.mfp-hide
	h3 интернет магазин
	p.
		Напишите нам какой сайт вы хотите заказать и мы свяжемся с вами в ближайшее время.
	.feedback.grid
		input(type="name" placeholder="name" id="name")
		input(type="email" placeholder="email")
		textarea(name="text" placeholder="ваши коментарии...")
		input(type="button" value="отправить" id="send")