section.portfolio.grid
	h2 наши работы
	.portfolioimg.grid
		.img.wow.zoomIn
			a(href="http://photo.all4site.com.ua" target="_blank")
				img(src="img/portfolio7.jpeg", alt="")
		.img.wow.zoomIn
			a(href="http://rock.all4site.com.ua" target="_blank")
				img(src="img/portfolio6.jpeg", alt="")
		.img.wow.zoomIn
			a(href="http://mobiclinic.com.ua" target="_blank")
				img(src="img/portfolio5.jpeg", alt="")
		.img.wow.zoomIn
			a(href="#")
				img(src="img/portfolio4.jpeg", alt="")