section.portfolio.grid
	h2 наши работы
	.portfolioimg.grid
		.img.wow.zoomIn
			img(src="img/portfolio7.jpeg", alt="")
		.img.wow.zoomIn
			img(src="img/portfolio6.jpeg", alt="")
		.img.wow.zoomIn
			img(src="img/portfolio5.jpeg", alt="")
		.img.wow.zoomIn
			img(src="img/portfolio4.jpeg", alt="")