<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//- link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext" rel="stylesheet")
		// build:css css/main.min.css
		// bower:css
		link(rel='stylesheet', href='js/xalk-font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='js/normalize-css/normalize.css')
		link(rel='stylesheet', href='js/animate.css/animate.css')
		// endbower
		link(rel="stylesheet", href="css/main.min.css")
		// endbuild
		link(rel="icon", href="img/favicon.ico")
		title Document
	body
		wrapper.wrapper.grid
			include _header
			include _content
			include _portfolio
			include _dosite


		// build:js js/main.min.js
		// bower:js
		script(src='js/jquery/dist/jquery.js')
		// endbower
		script(src="js/main.js")
		// endbuild
